In [1]:
import pandas as pd

In [2]:
Titanic_dataset = pd.read_csv("Titanic_dataset.csv")
Titanic_dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [45]:
#Kazada ölenlerin yaş ortalamasını bulunuz

print("Ölen Yaş Oratalama:", Titanic_dataset[Titanic_dataset["Survived"] == 0]["Age"].mean())

Ölen Yaş Oratalama: 30.62617924528302

In [35]:
#Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz

#ortalama
print("Bilet Fiyatları Ortalama:", Titanic_dataset[Titanic_dataset["Survived"] == 0]["Fare"].mean())

#medyanı
print("Bilet Fiyatları Medyanı:", Titanic_dataset[Titanic_dataset["Survived"] == 0]["Fare"].median())

Bilet Fiyatları Ortalama: 22.117886885245902
Bilet Fiyatları Medyanı: 10.5

In [46]:
#Kazada ölen erkeklerin yaş ortalamasını bulunuz

print("Ölen Erkek Yaş Ortalama:", Titanic_dataset[(Titanic_dataset["Survived"] == 0) & (Titanic_dataset["Sex"] == "male")]["Age"].mean())

Ölen Erkek Yaş Ortalama: 31.618055555555557

In [47]:
#Kazada ölen Kadınların yaş ortalamasını bulunuz

print("Ölen Kadın Yaş Ortalama:", Titanic_dataset[(Titanic_dataset["Survived"] == 0) & (Titanic_dataset["Sex"] == "female")]["Age"].mean())

Ölen Kadın Yaş Ortalama: 25.046875

In [48]:
#Kazadan kurtulanların yaş ortalamasını bulunuz

print("Kurtulan Yaş Oratalama:", Titanic_dataset[Titanic_dataset["Survived"] == 1]["Age"].mean())

Kurtulan Yaş Oratalama: 28.343689655172415

In [49]:
#Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz

print("Bilet Fiyatları Ortalama:", Titanic_dataset[Titanic_dataset["Survived"] == 1]["Fare"].mean())

Bilet Fiyatları Ortalama: 48.39540760233918

In [62]:
#Kazadan kurtulan toplam kişi sayısını bulunuz

print("Kurtulan Sayısı:", Titanic_dataset[Titanic_dataset["Survived"] == 1]["Survived"].count())

Kurtulan Sayısı: 342

In [66]:
#10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz

print("10 Yaşından Küçük Bilet Fiyatı Medyanı:", Titanic_dataset[Titanic_dataset["Age"] < 10]["Fare"].median())

10 Yaşından Küçük Bilet Fiyatı Medyanı: 27.0

In [71]:
#1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız. (Pclass değişkeni sınıfları barındırmaktadır.)

#ortalama
print("1.Sınıf Bilet Fiyatları Ortalama:", Titanic_dataset[Titanic_dataset["Pclass"] ==1]["Fare"].mean())
print("2.Sınıf Bilet Fiyatları Ortalama:", Titanic_dataset[Titanic_dataset["Pclass"] ==2]["Fare"].mean())
print("3.Sınıf Bilet Fiyatları Ortalama:", Titanic_dataset[Titanic_dataset["Pclass"] ==3]["Fare"].mean())

#medyanı
print("1.Sınıf Bilet Fiyatları Medyanı:", Titanic_dataset[Titanic_dataset["Pclass"] ==1]["Fare"].median())
print("2.Sınıf Bilet Fiyatları Medyanı:", Titanic_dataset[Titanic_dataset["Pclass"] ==2]["Fare"].median())
print("3.Sınıf Bilet Fiyatları Medyanı:", Titanic_dataset[Titanic_dataset["Pclass"] ==3]["Fare"].median())

1.Sınıf Bilet Fiyatları Ortalama: 84.1546875
2.Sınıf Bilet Fiyatları Ortalama: 20.662183152173913
3.Sınıf Bilet Fiyatları Ortalama: 13.675550101832993
1.Sınıf Bilet Fiyatları Medyanı: 60.287499999999994
2.Sınıf Bilet Fiyatları Medyanı: 14.25
3.Sınıf Bilet Fiyatları Medyanı: 8.05

In [87]:
#Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. (Örnek: erkekler için; ölen erkeklerin, erkek sayısına bölümü bu oranı vermektedir.

# Ölen kadınların sayısı
ölen_kadin = len(Titanic_dataset[(Titanic_dataset["Survived"] == 0) & (Titanic_dataset["Sex"] == "female")])
toplam_kadin = len(Titanic_dataset[Titanic_dataset["Sex"] == "female"])
ölen_kadin_oran = ölen_kadin / toplam_kadin


#Ölen erkeklerin sayısı
ölen_erkek = len(Titanic_dataset[(Titanic_dataset["Survived"] == 0) & (Titanic_dataset["Sex"] == "male")])
toplam_erkek = len(Titanic_dataset[Titanic_dataset["Sex"] == "male"])
ölen_erkek_oran = ölen_erkek / toplam_erkek

toplam_oran = ölen_kadin_oran / ölen_erkek_oran

print(f"Ölen Kadın Oranı: {ölen_kadin_oran}")
print(f"Ölen Erkek Oranı: {ölen_erkek_oran}")
print(f"Toplam Oran: {toplam_oran}")

Ölen Kadın Oranı: 0.25796178343949044
Ölen Erkek Oranı: 0.8110918544194108
Toplam Oran: 0.31804262616364526